<!-- Carousel utilizado en las propiedades -->


<div th:fragment="_carousel_propiedades" th:id="__${propiedad.id}__" class="carousel slide m-1" data-interval="false">
    <div class="carousel-inner">

        <div th:each="imagen, iterstat: ${propiedad.fotos}"
            th:class="${iterstat.first} ? 'carousel-item active':'carousel-item' ">
            <img class="d-block w-100 rounded p-1" th:src=" @{/imagen/__${imagen.id}__}" alt="slide">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" th:attr="data-bs-target='#__${propiedad.id}__'"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" th:attr="data-bs-target='#__${propiedad.id}__'"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div th:fragment="_carousel_reservas(reservaId)" th:id="__${reserva.propiedad.id}__ + ${reservaId}" class="carousel slide m-1" data-interval="false">
    <div class="carousel-inner">

        <div th:each="imagen, iterstat: ${reserva.propiedad.fotos}"
            th:class="${iterstat.first} ? 'carousel-item active':'carousel-item' ">
            <img class="d-block w-100 rounded p-1" th:src=" @{/imagen/__${imagen.id}__}" alt="slide">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" th:attr="data-bs-target='#__${reserva.propiedad.id}__' + '__${reservaId}__'"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" th:attr="data-bs-target='#__${reserva.propiedad.id}__' + '__${reservaId}__'"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div th:fragment="_carousel_unico" id="carousel_propiedad" class="carousel slide m-1 img-thumbnail"
    data-interval="false">
    <div class="carousel-inner">
        <div th:each="imagen, iterstat: ${propiedad.fotos}"
            th:class="${iterstat.first} ? 'carousel-item active':'carousel-item' ">
            <img class="d-block w-100 rounded p-1" th:src=" @{/imagen/__${imagen.id}__}" alt="slide">
        </div>
    </div>
    <button class="carousel-control-prev ms-2" type="button" data-bs-target="#carousel_propiedad" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next me-2" type="button" data-bs-target="#carousel_propiedad" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>