<footer class="bg-body bg-opacity-25 text-center text-white mt-5" th:fragment="_footer">
    <!-- Grid container -->
    <div id="contact" class="container-fluid p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-floating m-1" href="#!" role="button"
               ><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i
                ></a>

            <!-- Twitter -->
            <a class="btn btn-floating m-1" href="#!" role="button"
               ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i
                ></a>

            <!-- Instagram -->
            <a class="btn btn-floating m-1" href="#!" role="button"
               ><i class="fa fa-instagram fa-2x" aria-hidden="true"></i
                ></a>

            <!-- Linkedin -->
            <a class="btn btn-floating m-1" href="#!" role="button"
               ><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i
                ></a>

            <!-- Github -->
            <a class="btn btn-floating m-1" href="#!" role="button"
               ><i class="fa fa-github fa-2x" aria-hidden="true"></i
                ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <span class="text-light">Hernan E Encizo</span>
    </div>
    <!-- Copyright -->
</footer>
