<!-- hero -->
<section class="hero" th:fragment="_hero">
    <div class="titleh">
        <h1>Bienvenidos a Egg Alquileres</h1>
        <p class="container">
            Aquí encontraras una plataforma en la que podrás 
            reservar quinchos, casas de fin de semana, quintas, 
            casas con pileta para hacer asados y encuentros 
            casuales con tus amigos u otros eventos similares!
        </p>
    </div>
    
    <div class="hero-btn">
        <a href="/registrar">Registrarse</a>
    </div>
</section>