<!-- hero -->
<section class="hero" th:fragment="_hero">

    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold" th:text="'Bienvenido ' + ${session.usuarioSession.nombre}"></h1>
        <img th:if="${session.usuarioSession.foto_perfil == null}"
            src="https://thumbs.dreamstime.com/b/vector-de-icono-plano-perfil-avatar-predeterminado-ilustraci%C3%B3n-s%C3%ADmbolo-contacto-184752213.jpg"
            alt="Foto de perfil por defecto" class="img-thumbnail thumbnail">
        <th:block th:if="${session.usuarioSession.foto_perfil != null}">
            <img th:src="@{/imagen/perfil/__${session.usuarioSession.id}__}" alt="Foto de perfil"
                class="img-thumbnail thumbnail" />
        </th:block>
        <div class="col-lg-6 mx-auto mb-4">
            <p class="lead mb-4" sec:authorize="hasRole('PROPIETARIO')">En esta pagina encontrarás todas tus propiedades
                y sus correspondientes reservas.</p>
            <button class="btn btn-primary" sec:authorize="hasRole('PROPIETARIO')">
                <a class="nav-link" href="/propiedad/registrar">Agregar Propiedad</a>
            </button>
        </div>
    </div>


</section>