<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: _head"></head>

<body>
    <!-- header -->
    <header class="px-4">
        <section class="contenedorheader">
            <a href="/">
                <h1>Egg Alquiler's</h1>
            </a>
            <nav class="nav-menu">
                <a href="/registrar">Registrarse</a>
                <a href="/login">Ingresar</a>
                <a href="#contact">Contacto</a>
            </nav>
        </section>
    </header>

    <div th:replace="fragments/error_exito :: _error_exito"></div>
    <main>



        <section th:replace="fragments/hero :: _hero"></section>

        <!--Mostrar la lista de propiedades en alquiler-->
        <div class="container text-center mt-5 p-2 ">
            <div class="m-5 text-center">
                <h1 style="font-size: 3.2em"><strong>LIsta de Propiedades</strong></h1>
            </div>

            <!-- EN caso de exito o error-->

            <!-- CARDs Propiedades -->
            <div class="row m-4">

                <!--breakpont de las columnas, sm(pequeña ocupa 12), mediana(6x2), large(4x3). padding en Y de 3-->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3" th:each="propiedad : ${propiedades}">

                    <!--Usamos th:each para recorrer la lista que recibimos desde el controlador-->

                    <div class="card d-flex carta" style="min-height:540px">

                        <!--Utilizamos th:ref para especificar la ruta a donde se redigirá al hacer click th:href="@{detalle/{id}(id=${noticia.id})}"-->
                        <!--                            <a class="text-decoration-none text-black" th:href="@{/detalle/{id}(id=${propiedad.id})}">-->

                        <div class="card-body justify-content-center">
                            <h2 class="card-title text-center" th:text="${propiedad.nombre}"></h2>
                            <h4 class="card-title text-center" th:text="${propiedad.direccion}"></h4>
                            <h4 class="card-title text-center" th:text="${propiedad.ciudad}"></h4>
                            <h4 class="card-title text-center" th:text="${propiedad.precio_base}"></h4>
                            <a th:href="@{/admin/eliminarpropiedad/__${propiedad.id}__}"
                                sec:authorize="hasRole('ADMIN')">
                                Eliminar</a>

                            <!--                                <h2 class="card-title text-center" th:text="${propiedad.propietario.nombre}"></h2>-->
                        </div>

                        <!--                            <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x" style="width: 100%" >
                                    <small class="text-muted " th:text="${noticia.alta}"></small>
                                </div>-->

                        </a>

                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer th:replace="fragments/footer :: _footer"></footer>
</body>

</html>