<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Egg</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
            />
    </head>

    <body>

        <div class="container text-center p-3">
            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
        </div>

        <main class="mx-4">
            <div class="m-5 text-center">
                <h1 style="font-size: 3.2em"><strong>Propiedades</strong></h1>
            </div>

            <div class=" table-responsive m-2" >

                <table class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Estado</th>
                          
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <tbody th:each="propiedad : ${propiedades}"> <!-- recorremos la lista que inyectamos en el modelo -->
                        <tr>
                            <td th:text="${propiedad.nombre}"></td>
                            <td th:text="${propiedad.direccion}"></td>
                            <td th:text="${propiedad.ciudad}"></td>
                            <td th:text="${propiedad.precio_base}"></td>
                            <td th:text="${propiedad.estado}"></td>
                            

                            <td> 
                                <a class="btn btn-warning text-black" th:href= "@{/propiedad/modificar/__${propiedad.id}__}">Modificar</a>
                                
                                <!--podemos quitar la autorizacion solo para que el admin pueda eliminar propiedades-->
                                <a class="btn btn-danger text-black" th:href= "@{/propiedad/eliminar/__${propiedad.id}__}">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <section class="py-3 text-center container">
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <a th:href="@{/dashboard}" class="btn btn-primary">Volver</a>
                        </div>
                    </div>
                </section>
            </div>
        </main>

    </body>
</html>