<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="/fragments/head :: _head('Inicio', 'inicio.css')"></head>

<body>

    <nav th:replace="/fragments/navbar :: _navbar"></nav>

    <div th:replace="fragments/error_exito :: _error_exito"></div>

    <main class="pb-3">

        <div class="container w-75 bg-light mt-2 rounded shadow">
            <div class="row align-items-stretch">

                <div class="col mx-1">
                    <h3 class="fw-bold text-center py-2 mt-2">Formulario de registro</h3>
                    <!---Login -->

                    <form th:action="@{/propiedad/registro/__${usuario.id}__}" method="POST"
                        enctype="multipart/form-data">

                        <input hidden th:value="${id}" name="id">

                        <div class="col">
                            <label for="nombre" class="form-label">Nombre de la propiedad</label>
                            <input type="text" class="form-control" name="nombre" th:value="${nombre}"
                                placeholder="Alpen Palace" aria-label="Nombre">
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label for="direccion" class="form-label">Direccion</label>
                                <input type="text" class="form-control" name="direccion" th:value="${direccion}"
                                    placeholder="Las Ramblas 5432" aria-label="Direccion">
                            </div>

                            <div class="col ">
                                <label for="ciudad" class="form-label">Ciudad</label>
                                <input type="text" class="form-control" name="ciudad" th:value="${ciudad}"
                                    placeholder="Misiones">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label for="precio" class="form-label mt-1">Precio</label>
                                <input type="number" class="form-control" name="precio" th:value="${precio}"
                                    placeholder="25.800">
                            </div>
                        </div>

                        <div class="col">
                            <label for="fotos" class="form-label mt-1">Fotos</label>
                            <input type="file" class="form-control" multiple="true" name="fotos" alt="Subi tu imagen">
                        </div>

                        <div class="row my-4">
                            <div class="col">
                                <button type="submit" class="btn btn-success col-md-12">Registar</button>
                            </div>
                            <div class="col">
                                <button type="reset" class="btn btn-danger col-md-12">Borrar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>

    <nav th:replace="/fragments/footer :: _footer"></nav>

</body>

</html>