<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: _head('Inicio', 'inicio.css')"></head>

<body>
    <nav th:replace="/fragments/navbar :: _navbar"></nav>

    <div th:replace="/fragments/error_exito :: _error_exito"></div>

    <main class="container text-center mt-5 p-2 ">

        <div class="m-5 text-center">
            <h1 style="font-size: 3.2em"><strong>Propiedades</strong></h1>
        </div>

        <div class="row m-4">

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3" th:each="propiedad : ${propiedades}">

                <a class="text-decoration-none text-black" th:href="@{/detalle/__${propiedad.id}__}">

                    <img class="card-img-top" th:src="@{/imagen/propiedad/__${propiedad.id}__}"
                        style="min-height:300px; max-height:325px">

                    <div class="card-body justify-content-center">
                        <h3 class="card-title text-center" th:text="${propiedad.nombre}"></h3>
                        <h2 class="card-title text-center" th:text="${propiedad.direccion}"></h2>
                        <h2 class="card-title text-center" th:text="${propiedad.ciudad}"></h2>
                        <h2 class="card-title text-center" th:text="${propiedad.precio_base}"></h2>
                    </div>


                    <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x" style="width: 100%">
                        <small class="text-muted " th:text="${noticia.alta}"></small>
                    </div>

                </a>
            </div>

        </div>
    </main>

    <nav th:replace="/fragments/footer :: _footer"></nav>

</body>

</html>