<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
    <head th:replace="/fragments/head :: _head('Inicio', 'inicio.css')"></head>

    <!-- CUERPO DEL HTML-->

    <body>
        <!-- 
        
        
        
        
        TO DO: MODIFICARLO
        
        
        
        
        
        -->
        <header class="px-4">
            <section class="contenedorheader">
                <a href="">
                    <h1>Egg Alquileres</h1>
                </a>
                <nav class="nav-menu">
                    <a href="#contact">Contacto</a>
                    <a href="/registrar">Registrarse</a>
                </nav>
            </section>
        </header>

        <main class="container text-center mt-5 p-2 ">

            <div class="m-5 text-center">
                <h1 style="font-size: 3.2em"><strong>Propiedades</strong></h1>
            </div>

            <!-- EN caso de exito o error-->

            <!-- CARDs NOTICIA -->
            <div class="row m-4">

                <!--breakpont de las columnas, sm(pequeña ocupa 12), mediana(6x2), large(4x3). padding en Y de 3-->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3" th:each="propiedad : ${propiedades}">

                    <!--Utilizamos th:ref para especificar la ruta a donde se redigirá al hacer click th:href="@{detalle/{id}(id=${noticia.id})}"-->
                    <a class="text-decoration-none text-black" th:href="@{/detalle/__${propiedad.id}__}">

                        <img class="card-img-top" th:src="@{/imagen/propiedad/__${propiedad.id}__}" style="min-height:300px; max-height:325px">

                        <div class="card-body justify-content-center">
                            <h3 class="card-title text-center" th:text="${propiedad.nombre}"></h3>
                            <h2 class="card-title text-center" th:text="${propiedad.direccion}"></h2>
                            <h2 class="card-title text-center" th:text="${propiedad.ciudad}"></h2>
                            <h2 class="card-title text-center" th:text="${propiedad.precio_base}"></h2>
                        </div>


                        <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x"
                             style="width: 100%">
                            <small class="text-muted " th:text="${noticia.alta}"></small>
                        </div>

                    </a>
                </div>

            </div>
        </main>
        
        <div th:replace="/fragments/footer :: _footer"></div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>

</html>