<!DOCTYPE html>
<html lang="en">
  <head th:replace="/fragments/head :: _head('reserva', 'reserva.css')"></head>
  <body>
    <nav th:replace="/fragments/navbar :: _navbar"></nav>
    <div id="padre">
      <div id="divcar">
        <h3 th:text="${propiedad.nombre}"></h3>
        <div id="carouselExample" class="carousel slide">
          <div th:each="foto : ${propiedad.fotos}" class="carousel-inner">
            <div class="carousel-item active">
              <img th:src=" @{/imagen/__${foto.id}__}" />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <p>
          Combinando lo rústico con lo sofisticado, este quincho es el ambiente
          ideal para festejar cualquier tipo de eventos. Además de ser acogedor,
          ofrece una impresionante vista a las montañas, perfecto para disfrutar
          con amigos o la familia.
        </p>
      </div>
      <div id="article">
        <article class="location_info">
          <div>
            <h3>¿Que ofrece este lugar?</h3>
            <ul>
              <li type="circle">Wifi</li>
              <li type="circle">Cocina</li>
              <li type="circle">Estacionamiento gratis en la propiedad</li>
              <li type="circle">Aire acondicionado</li>
              <li type="circle">Se permiten mascotas</li>
              <li type="circle">Tv HD</li>
            </ul>
          </div>
        </article>
      </div>
    </div>



        <section class="formReserva">
            <form id="formulario" th:action="@{/cliente/crearReserva/__${propiedad.id}__}" method="POST">
                <!--id propiedad oculto -->
                <input th:id="__${propiedad.id}__" id="propiedad_id" name="propiedad_id" type="hidden">

                <h3>Hace tu reserva!</h3>
                <label for="fechaDesde">Fecha desde:</label>
                <div class="col-sm-10 mb-3">
                    <input type="date" id="fechaInicio" name="fechaInicio">
                </div>
                <label for="fechaHasta">Fecha hasta:</label>
                <div class="col-sm-10 mb-3">
                    <input type="date" id="fechaFin" name="fechaFin">
                </div>
                <p>Servicios a contratar</p>
                <div th:text="'Precio Base $' + ${propiedad.precio_base}" class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled>
                    <label class="form-check-label" for="flexCheckDefault">
                    </label>
                </div>

                <div th:each="prestacion : ${propiedad.prestaciones}">
                    <div class="form-check">
                        <input type="checkbox" th:name="${prestacion.nombre}" id="${prestacion.nombre}" value="true" onclick="capturarCheckbox(this)" checked>
                        <label class="form-check-label" th:text="${prestacion.nombre} + ' - $' + ${prestacion.precio}" for="${prestacion.nombre}"></label>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </section>

        <nav th:replace="/fragments/footer :: _footer"></nav>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script>
                            function capturarCheckbox(checkbox) {
                                if (checkbox.checked) {
                                    console.log(checkbox.name + " está seleccionado");
                                } else {
                                    console.log(checkbox.name + " no está seleccionado");
                                }
                            }
        </script>
    </body>

</html>
