<!DOCTYPE html>
<html lang="en">
 <head th:replace="/fragments/head :: _head('reserva', 'reserva.css')"></head>
<body>
  <nav th:replace="/fragments/navbar :: _navbar"></nav>
  <div id="divcar">
    <h3 th:text="${propiedad.nombre}"></h3>
    <div id="carouselExample"  class="carousel slide">
      <div   th:each="foto : ${propiedad.fotos}" class="carousel-inner">
        <div class="carousel-item active">
          <img  th:src=" @{/imagen/__${foto.id}__}">
        </div>
       
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>Combinando lo rústico con lo sofisticado, este quincho es el ambiente ideal para festejar cualquier tipo de eventos. Además de ser acogedor, ofrece una impresionante vista a las montañas, perfecto para disfrutar con amigos o la familia.</p>
</div>
<article class="location_info">
  <div>
    <h3>¿Que ofrece este lugar?</h3>
    <ul>
        <li type="circle">Wifi</li>
        <li type="circle">Cocina</li>
        <li type="circle">Estacionamiento gratis en la propiedad</li>
        <li type="circle">Aire acondicionado</li>
        <li type="circle">Se permiten mascotas</li>
        <li type="circle">Tv HD</li>
    </ul>
</div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3346.1908887913028!2d-68.91411068525217!3d-32.99874248185638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e75f028bc0c0f%3A0xdb9f3d1213ec3fcf!2sQUINCHO%20VILLA%20TOMAS!5e0!3m2!1ses-419!2sar!4v1679442985568!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</article>

<section class="formReserva">
        <form  id ="formulario" action="">
          <!--id propiedad oculto -->
          <input th:id="__${propiedad.id}__" id="propiedad_id" name="prodId" type="hidden" >

            <h3>Hace tu reserva!</h3>
            <label for="fechaDesde">Fecha desde:</label>
            <div class="col-sm-10 mb-3">
              <input  type="date" id="fechaDesde" name="fechaDesde">
            </div>
            <label for="fechaHasta">Fecha hasta:</label>
            <div class="col-sm-10 mb-3">
              <input type="date" id="fechaHasta" name="fechaHasta">
            </div>
            <p>Servicios a contratar</p>
            <div  th:text="'Precio Base $' + ${propiedad.precio_base}" class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked disabled>
              <label class="form-check-label" for="flexCheckDefault">
              </label>
            </div>
            <div  th:each="prestacion : ${propiedad.prestaciones}">
                <div class="form-check"> 
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label  th:text="${prestacion.nombre}+ ${prestacion.precio}" class="form-check-label" for="flexCheckDefault"></label>
            </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
          </form>
        </section>
          <nav th:replace="/fragments/footer :: _footer"></nav>
</body>

</html>