<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="/fragments/head :: _head('Inicio', 'inicio.css')"></head>

<body>

    <nav th:replace="/fragments/navbar :: _navbar"></nav>

    <div th:replace="fragments/error_exito :: _error_exito"></div>

    <!-- FORMULARIO DE REGISTRO -->
    <main>

        <div class="container rounded p-2 mt-3 bg-light bg-opacity-50">

            <div class="m-3 text-center">
                <h1>Modificar Perfil</h1>
            </div>

            <div class="px-4 my-3 text-center ">
                <img class="img-thumbnail rounded thumbnail" th:src="@{/imagen/perfil/__${usuario.id}__}">
            </div>

            <form th:action="@{/modificarPerfil/__${session.usuarioSession.id}__}" method="POST"
                enctype="multipart/form-data">

                <div class="row justify-content-center">

                    <div class="col-lg-8">
                        <input hidden th:value="${session.usuarioSession.id}" name="id">

                        <div class="row  g-3">
                            <div class="col-6">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" th:value="${session.usuarioSession.nombre}" class="form-control"
                                    name="nombre" aria-label="Nombre">
                            </div>
                            <div class="col-6">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" th:value="${session.usuarioSession.apellido}"
                                    name="apellido" aria-label="Apellido">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="email" class="form-label mt-1">Email</label>
                            <input type="email" th:value="${session.usuarioSession.email}" class="form-control"
                                name="email">
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label for="password" class="form-label mt-1">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="col">
                                <label for="password2" class="form-label mt-1">Confirm Password</label>
                                <input type="password" class="form-control" name="password2">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label for="telefono" class="form-label mt-1">Telefono</label>
                                <input type="tel" th:value="${session.usuarioSession.telefono}" class="form-control"
                                    name="telefono" placeholder="0115545545">
                            </div>
                        </div>

                        <div class="col mt-2">
                            <label for="apellido" class="form-label">Foto de Perfil</label>
                            <input type="file" class="form-control" name="foto_perfil">
                        </div>

                        <hr class="my-4">

                        <div class="row my-4">
                            <div class="col">
                                <button type="submit"
                                    class="btn btn-success shadow border border-2 border-success-subtle col-lg-12">Actualizar</button>
                            </div>
                            <div class="col">
                                <a th:href="@{/perfil}"
                                    class="btn btn-primary shadow border border-2 border-primary-subtle col-lg-12">Volver</a>
                            </div>
                        </div>
                    </div>

            </form>
        </div>
    </main>

    <nav th:replace="/fragments/footer :: _footer"></nav>

</body>

</html>